-# 孫要素
- if @child % 2 == 0
  - grandChildCategories = ["Tシャツ/長袖","Tシャツ/半袖","パンツ","スカート","ワンピース"]
- else
  - grandChildCategories = ["靴","小物","靴","小物","靴","小物"]

%ul.grandChild
  - grandChildCategories.each do |a|
    %li
      = link_to "#" do 
        = a