.mypage-card
  %p.title  支払い方法
  .create-card
    登録されたカードはありません。
    .cardName
    .userName
    .effectiveDate
  .mypage-card__btn
    =link_to new_user_credit_card_path(1) do
      クレジットカードを追加
    