.my-content__tabpage.clearfix
  %p.title やることリスト
        
  %ul.panels
    %li#cont1.panel.active
      = render "testLink"
      = render "testLink"
        
    %li#cont2.panel 
      = render "testLink"