%header.single-header
  %h1
    %figure.single-container__header-icon
      = link_to root_path do
        %figure.single-container__header-icon-image
          = image_tag "logo.png", :size =>'185x49'