.single-container {
  background-color: #eeeeee;
  .single-header {
    height: 128px;
    text-align: center;
    h1 {
      display: inline-block;
      a {
      width: 185px;
      height: 49px;
      line-height: 49px;
      display: inline-block;
      margin: 35px 8px 0 0;
      color: #0099e8;
      text-decoration: none;
      touch-action: manipulation;
      }
    }
    .progress-bar {
      padding: 40px 0 0 30px;
      border: 0;
      display: inline-block;
      vertical-align: top;
      font-size: 0;
      text-align: center;
      ol {
        margin: 0;
        list-style: none;
        li {
          margin: 0 40px 0 0;
          min-width: 60px;
          position: relative;
          z-index: 1;
          display: inline-block;
          font-size: 12px;
          color: #888;
        }
        li:not(:first-child) {
          .progress-status {
            z-index: 10;
            width: 12px;
            height: 12px;
            margin: 8px auto 0;
            background: #ccc;
            border-radius: 50%;
          }
          .progress-status:before {
            position: absolute;
            bottom: 5px;
            z-index: -1;
            display: block;
            content: '';
            width: 100%;
            height: 2px;
            background: #ccc;
            right: 50%;
          }
        }
        li:not(:last-child) {
          .progress-status {
            z-index: 10;
            width: 12px;
            height: 12px;
            margin: 8px auto 0;
            background: #ccc;
            border-radius: 50%;
          }
          .progress-status:after {
            position: absolute;
            bottom: 5px;
            z-index: -1;
            display: block;
            content: '';
            width: 100%;
            height: 2px;
            background: #ccc;
            left: 50%;
          }
        }
        li.active {
          font-weight: 600;
          color: #3CCACE;
          .progress-status {
            background: #3CCACE;
            width: 12px;
            height: 12px;
            margin: 8px auto 0;
            border-radius: 50%;
          }
        }
      }
    }
  }
  main {
    display: block;
    .l-single-container {
    width: 700px;
    margin: 0 auto;
    background: #fff;
      .l-single-head {
        padding: 32px 16px;
        font-size: 22px;
        line-height: 1.5;
        text-align: center;
        font-weight: bold;
        border-bottom: 1px solid #f5f5f5;
      }
      .l-single-inner  {
        padding: 10px 0 8px;
        border-top: 1px solid #f5f5f5;
        }
        .devise-error-messages {
          font-size: 14px;
          font-weight: bold;
          color: red;
          padding-left: 25%;
        }
        .l-single-content {
          max-width: 340px;
          margin: 0 auto 10px;
          .l-chapter-sub-head {
            font-weight: bold;
          }
          .l-single-text{
            margin: 8px 0 0;
            font-size: 14px;
            line-height: 1.5;
          }
          .form-group{
            margin: 32px 0 0;
            label{
              font-size: 14px;
              font-weight: bold;
            }
            .input-default {
              width: 100%;
              margin: 8px 0 0;
              height: 48px;
              padding: 10px 16px 8px;
              font-size: 16px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background-color: #fff;
              &__name{
                margin-top: 8px;
                width: 49%;
                height: 48px;
                padding: 10px 16px 8px;
                font-size: 16px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background-color: #fff;
  
              }
            }
          }
          .horizonal-wrap {
            display: flex;
            line-height: 48px;
            margin-top: 8px;
            position: relative;
            .select-default {
              height: 48px;
              width: 80px;
              padding: 0 10px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: 0;
              font-size: 16px;
              line-height: 1.5;
              cursor: pointer;
            }
            .horizonal-info {
              font-size: 14px;
              margin: 0 5px;
              line-height: 48px;
              
          }
        }
      }
    }
          .form-require {
            margin-left: 10px;
            background-color:#3CCACE;
            color:white;
            padding: 2px 4px;
            border-radius: 2px;
            font-size: 13px;
          }
          .form-optional {
            margin-left: 10px;
            background-color:gray;
            color:white;
            padding: 2px;
            border-radius:2px;
            font-size:13px;
          }
        }
        .form-info {
          color: #888;
          line-height: 1.5;
          font-size: 14px;
                  }
        a {
          color: #0099e8;
        }
      }
      .btn-next {
        margin: 40px 0 0;
        background: #3CCACE;
        border: 1px solid #3CCACE;
        color: #fff;
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        border-radius: 4px;
        transition: all ease-out .3s;
        cursor: pointer;
        text-align: center;
        a{
          color:white;
        }
      }
      .text-right {
        padding-bottom: 30px;
        text-align: right;
      }
    li {
      margin-left: 18px;
    }
    .single-footer-logo img {
      margin-top: 40px;
    }
    .small {
      margin: 8px 0 0;
    }
    .text-center {
      text-align: center;
    }
    .card-list{
      margin: 8px 0 0;
      font-size: 0;
      &__image{
        height: 20px;
        &--visa {
          width: 49px;
        }
        &--master {
          width: 34px;
        }
        &--saison {
          width: 30px;
        }
        &--jcb-club-dis {
          width: 32px;
        }
        &--american-express {
          width: 21px;
        }
      }
      li:first-child {
        margin: 0;
      }
      li {
        display: inline-block;
        margin: 0 0 0 8px;
        vertical-align: middle;
      }
    }
    .card-form {
      margin: 40px 0 0;
      #payment_card_expire_mm,#payment_card_expire_yy {
        padding: 0 16px;
      }
      #inline {
        display: inline;
      }
      &__input {
        height: 48px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        line-height: 1.5;
        font-size: 16px;
        width: 100%;
        margin: 8px 0 0;
      }
      &__title {
        font-weight: 600;
        display: inline-block;
      }
      span {
        margin: 0 8px;
      }
      .form-require {
        background: #ea352d;
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        vertical-align: top;
      }
      .select-wrap {
        display: inline-block;
        width: 35%;
        margin: 8px 0 0;
        position: relative;
        background: #fff;
        &__default {
          width: 100%;
          position: relative;
          z-index: 2;
          height: 40px;
          padding: 0 16px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: 0;
          font-size: 16px;
          line-height: 1.5;
          cursor: pointer;
        }
      }
      .card-seqcode {
        position: relative;
        margin: 8px 0 0;
        &__text {
          text-align: right;
          color: #0099e8;
          span {
            margin: 0;
          }
          .form-question {
            display: inline-block;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background: #0099e8;
            color: #fff;
            line-height: 14px;
            font-size: 12px;
            text-align: center;
          }
        }
        &__info {
          position: absolute;
          left: 0;
          right: 0;
          top: 28px;
          z-index: 1;
          padding: 16px;
          border-radius: 6px;
          background: #eee;
          color: #333;
          line-height: 1.5;
          text-align: center;
          -webkit-transition: all ease-out .3s;
          transition: all ease-out .3s;
          visibility: hidden;
          opacity: 0;
          &--image {
            width: 240px;
          }
        }
        &__info:before {
          top: -8px;
          right: 32px;
          border-width: 0 8px 8px 8px;
          border-color: transparent transparent #eee transparent;
          display: block;
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          border-style: solid;
        }
      }
    }