// 全てに適用される共通CSS

* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
}

@mixin btn-default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}

@mixin btn-pass {
  width: 100%;
  height: 50px;
  border: #979797 solid 1px;
}

@mixin icon-facebook {
  font-size: 30px;
  position: absolute;
  top: 8px;
  left: 15px;
}

@mixin icon-google {
  font-size: 20px;
  position: absolute;
  top: 15px;
  left: 15px;
}

@mixin link_hover(){
  opacity: 0.8;
  text-decoration: underline;
}

@mixin clearfix(){
  content: "";
  display: block;
  clear: both;
}


// 青色太線を細線へ変更
@mixin input-focus {
  outline: 0;
  border: 1px solid $liteblue!important;
}

// signup-input width指定なし
@mixin input-status {
  margin: 8px 0 0;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: $white;
  line-height: 1.5;
  font-size: 16px;
}

// signup-header-radius
@mixin border-radius {
  width: 12px;
  height: 12px;
  margin: 8px auto 0;
  background: $border-color;
  border-radius: 50%;
  z-index: 100;
  position: relative;
}

// signup-header-border
@mixin signup-border {
  display: block;
  width: 170%;
  height: 1px;
  border: 1px solid $border-color;
  z-index: 1;
  position: absolute;
  top: 80%;
  left: 50%;
}

@mixin a-no-change {
  color: inherit;
}
@mixin a-no-change-hover {
  opacity: 1!important;
  text-decoration: none!important;
}

@mixin btn-no-change {
  color: white!important;
}

// プルダウン
@mixin pulldown {
  width: 76px;
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid $border-color;
  background: 0;
  font-size: 14px;
  line-height: 1.5;
  cursor: pointer;
  font-size: 16px;
}
// link_to bulue-text
@mixin link_to_bulue {
  display: block;
  text-align: right;
  a {
    color: $liteblue;
    text-decoration: none;
  }
  a:hover {
    @include link_hover();
  }
}

@mixin require{
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: $header-background;
  font-size: 12px;
  vertical-align: top;
}

@mixin show-no-change {
  text-decoration: none;
  color: inherit;
}

@mixin search-input {
  width: 240px;
  height: 48px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

@mixin hover-text {
  opacity: 0.8;
  text-decoration: underline;
}
