.contents-tab {
  height: 1rem;
  z-index: 999;

  /*子階層以降共通*/
  & li li {
    display: none;
    transition: .5s;
    & a {
      padding: 5px  50px 5px 10px;
    }
  }
  
  &__category {/*親階層のみ幅を25%にする*/
    margin-right: 30px;
    list-style-type: none;
    display: inline-block; 
    &--lists {
      position: relative;
      background-color: white;
      & ul {
        box-shadow: rgba(0, 0, 0, 0.18) 0px 5px 6px;
      }
      & .child {
        left: 100%;
        position: absolute;
        top: 0;
        width: 110%;
        & .grandChild {
          width: 120%;
          position: absolute;
            top: 0;
            left: 100%;
        }
      }
    }
  }
  & .left-list__brand {
    position: absolute;
      top: 0;
      margin-left: 100px;
  }
}

// ホバー処理
.contents-tab li:hover .parent > li {
    display: block;
  }

.parent > li:hover > .child {
  background-color: white;
  min-height: 100%;
  & > li {
    display: block;
  }
}

.child > li:hover > .grandChild {
  background-color: white;
  min-height: 100%;
  & > li {
    display: block;
  }
}
