// 背景色
$header-background: #fff;
$main-background: #f5f5f5;
$footer-background: #212121;

//コメント
$comment: #eef0f4;
$border-color: #ccc;

 //チーム内
$liteblue: #0099e8;
$white: #fff;
$black: #333;
$red: #ea352d;
$darkgray: #888;
$gray: #aaa;
$cyan: #3ccace;
