// カテゴリ一覧ページ
.category-index{
  background-color: #eeeeee;
  .container {
    width: 700px;
    margin: 0 auto;
    padding: 40px 0;
    .main-category-links {
      display: flex;
      flex-wrap: wrap;
      .main-category-link {        border-radius: 4px;
        min-width: 80px;
        height: 40px;
        -webkit-box-shadow: 1px 1px 1px 1px rgba(14,14,14,0.0580392);
        box-shadow: 1px 1px 1px 1px rgba(14,14,14,0.0580392);
        padding: 0 30px;
        margin: 5px;
        color: #333;
        background-color: white;
        font-size: 16px;
        line-height: 40px;
        text-decoration: none;
         &:hover {
          color: white;
          background-color: red;
        }
      }
    }
    .category-boxes {
      margin: 30px auto;
      .category-box {
        background-color: white;
        &__header {
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          font-size: 22px;
          color: white;
          background-color: red;
          height: 40px;
          line-height: 40px;
          padding-left: 30px;
          margin: 0;
        }
        .sub-category-lists{
          padding: 24px 30px 10px 30px;
          .category-link {
            text-decoration: none;
            color: dodgerblue;
          }
          .sub-category-name {
            padding-top: 15px;
            padding-bottom: 5px;
          }
          .sub-sub-category-links {
            display: flex;
            flex-wrap: wrap;
            padding: 0 20px 10px 20px;
            .link-box {
              width: 50%;
            }
          }
        }
      }
    }
  }
}
// カテゴリページ
.category-page {
  background-color: #eeeeee;
  .container {
    padding: 40px 0;
    margin: 0 auto;
    width: 1040px;
    .child-links{
      display: flex;
      flex-wrap: wrap;
      .child-link {
      font-size: 14px;
      color: dodgerblue;
      text-decoration: none;
      margin: 16px 16px 0 0;
      }
    }
    .item-container{
      width: auto;
      margin: 24px 0 8px;
      &__header {
        font-size: 22px;
      }
      .items{
        display: flex;
        flex-wrap: wrap;
        .item{
          background-color: white;
          width: 188px;
          height: 246px;
          text-decoration: none;
          margin: 0 20px 20px 0;
          &__body {
            position: relative;
            height: 58px;
            padding: 8px 12px;
            &__name {
              color: #333333;
              font-size: 14px;
              font-weight: 400;
              height: 3em;
              line-height: 1.5;
              word-break: break-word;
              white-space: normal;
            }
            &__price {
              z-index: 2;
              position: absolute;
              top: -30px;
              left: 0;
              padding: 4px 12px 4px 8px;
              border-radius: 0 16px 16px 0;
              font-weight: 600;
              color: #fff;
              background-color: rgba(0,0,0,0.3);
            }
          }
        }
      }
    }
    .category-label {
      height: 54px;
      background-color: red;
      color: #fff;
      font-size: 22px;
      line-height: 54px;
      text-align: center;
    }
  }
}
