// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-sale-page {
  background-color: #f6f6f6;
  .container {
    background-color: white;
    width: 700px;
    margin: 0 auto;
    h2 {
      padding: 32px 16px;
      font-size: 22px;
      text-align: center;
      margin: 0;
    }
    h3 {
      font-size: 14px;
      color: #888;
      font-size: 14px;
      margin: 0;
    }
    label {
      font-weight: 600;
      font-size: 14px;
    }
    .sale-image-box{
      padding: 40px;
       border: 1px solid #f6f6f6;
      p {
        font-size: 14px;
        margin: 8px 0 0;
      }
      .image-upload-dropbox{
        margin-top: 16px;
        padding: 40px;
        position: relative;
        min-height: 162px;
        background: #f5f5f5;
        border: 1px dashed #ccc;
        text-align: center;
        font-weight: normal;
        display: block;
        cursor: pointer;
        input{
          display: none;
        }
        .upload-explanation {
          display: flex;
          justify-content: center;
          flex-direction: column;
        }
      }
    }
    .sale-content {
      padding: 40px;
      padding-bottom: 0;
      border: 1px solid #f6f6f6;
      display: flex;
      justify-content: space-between;
      .main-content {
        width: 100%;
        .main-form-group {
          margin-bottom: 40px;
        }
      }
      .form-group {
        width: 400px;
        margin-bottom: 40px;
        #category-second {
          display: none;
        }
        #category-third {
          display: none;
        }
        select {
          display: block;
          position: relative;
          height: 48px;
          width: 100%;
          padding: 0 16px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: 0;
          font-size: 16px;
          line-height: 1.5;
          margin-top: 8px;
          cursor: pointer;
        }
      }
      .input-box {
        display: flex;
        justify-content: space-between;
        &__right {
          display: flex;
          justify-content: flex-end;
          width: 200px;
          line-height: 48px;
          input {
            height: 48px;
            width: 160px;
            padding: 0 16px;
            margin-left: 10px;
            text-align: right;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
        }
      }
      .input-default {
        display: block;
        width: 100%;
        height: 48px;
        padding-left: 16px;;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        line-height: 1.5;
        font-size: 16px;
      }
      textarea {
        display: block;
        width: 100%;
        max-width: 100%;
        min-height: 104px;
        padding: 10px;
        border: 1px solid #ccc;
        background: #fff;
        font-size: 16px;
        line-height: 1.5;
      }
    }

  }

  .form-require {
    background-color: red;
    color: white;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    font-size: 12px;
    vertical-align: top;
    font-weight: 600;
    &__sub{
      background-color: gray;
      color: white;
      margin: 0 0 0 8px;
      padding: 2px 4px;
      border-radius: 2px;
      font-size: 12px;
      vertical-align: top;
      font-weight: 600;
    }
  }
  .sell-btn-box{
    padding: 40px;
    .sell-btn {
      background:#3ccace;
      border: 1px solid #ea352d;
      color: white;
      display: block;
      width: 45%;
      line-height: 48px;
      font-size: 14px;
      border: 1px solid transparent;
      cursor: pointer;
      margin: 0 auto;
    }
    .back-btn {
      width: 45%;
      margin: 24px auto 0;
      text-decoration: none;
      background: #aaa;
      border: 1px solid #aaa;
      color: #fff;
      display: block;
      line-height: 48px;
      font-size: 14px;
      text-align: center;
    }
  }
  .dropzone-container{
  display: block;
  margin: 16px auto 0;
  display: flex;

  //プレビュー表示欄のCSS
  #preview , #preview2{
    display: flex;

    .img_view {
      height: 162px;
      width: 112px;
      margin: 0 15px 10px 0;

        img{
          width: 112px;
          height: 132px;
        }
      }

      .btn_wrapper {
        display: flex;
        justify-content: center;
        text-align: center;

        .delete-img-btn {
          color: #00b0ff;
          width: 100%;
          height: 30px;
          line-height: 30px;
          border: 1px solid #eee;
          background: #f5f5f5;
          cursor: pointer;
        }
      }
    }

  //投稿クリックエリアのCSS
  .dropzone-area {
    margin-bottom: 10px;
    width: 620px;

    .dropzone-box {
      display: block;
      border: 1px dashed #ccc;
      position: relative;
      background: #f5f5f5;
      width: 100%;
      height: 162px;
      cursor: pointer;

      p {
        position: absolute;
        top: 50%;
        left: 16px;
        right: 16px;
        text-align: center;
        font-size: 14px;
        line-height: 1.5;
        font-weight: bold;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        pointer-events: none;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
      .input_area {
        display: none;
      }
    }
  }
  //投稿クリックエリアのCSS
  .dropzone-area2{
    display: none;
    margin-bottom: 10px;
    width: 620px;

    .dropzone-box {
      display: block;
      border: 1px dashed #ccc;
      position: relative;
      background: #f5f5f5;
      width: 100%;
      height: 162px;
      cursor: pointer;
      p {
        position: absolute;
        top: 50%;
        left: 16px;
        right: 16px;
        text-align: center;
        font-size: 14px;
        line-height: 1.5;
        font-weight: bold;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        pointer-events: none;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
      .fa {
        text-align: center;
        line-height: 162px;
      }
      .input_area {
        display: none;
      }
    }
  }
}
}
