-# ヘッダー
=render "shared/main_header"
-# メイン
.show-container
  .show-content
    .show-content-wrapper
      %h2.content-heading
        = @product.name
      %ul
        -@product.images.each do |image|
          %li.slide
            =image_tag image.image_url, class: "main-image"
      .content-images
        -@product.images.each do |image|
          =image_tag image.image_url, class: "content-images__list"
      .price-content
        .price-content__price
          %span 
            = "¥ #{@product.price}"
        .price-content__info
          %span (税込み)
          -if @product.which_postage == 0
            %span 送料込み
          -else
            %span 送料別
      -if @product.buyer_id == 1
        =link_to "売り切れました", "#", class: "disable-btn"
      -elsif user_signed_in? && @product.buyer_id != 1 && current_user.id != @product.user_id
        =link_to "購入画面に進む", buy_products_path, class: "able-btn"
      -elsif user_signed_in? && @product.buyer_id != 1 && current_user.id == @product.user_id
        =link_to "出品を編集する", edit_product_path(@product.id), class: "able-btn"
        =link_to "出品を削除する", product_path(@product.id), method: :delete, class: "able-btn"
      -else
        =link_to "購入画面に進む", user_session_path, class: "able-btn"
      .content-text
        =@product.detail
      %table.content-info{border: "1"}
        %tr
          %td.content-info__name 出品者
          %td.content-info__text
            =@product.user.nickname
        %tr
          %td.content-info__name カテゴリー
          %td.content-info__text
            =link_to "ベビー・キッズ", "#"
            %br
            =link_to "ベビー服(男女兼用)~95cm", "#"
            %br
            =link_to "アウター", "#"
        %tr
          %td.content-info__name ブランド
          %td.content-info__text
            =@product.brand.name
        %tr
          %td.content-info__name 商品のサイズ
          %td.content-info__text
            =@product.size.name if @product.size
        %tr
          %td.content-info__name 商品の状態
          %td.content-info__text
            =@product.condition.name
        %tr
          %td.content-info__name 配送料の負担
          %td.content-info__text
            -if @product.which_postage == 0
              送料込み（出品者負担）
            -else
              着払い（購入者負担）
        %tr
          %td.content-info__name 発送元の地域
          %td.content-info__text
            =@prefecture.name
        %tr
          %td.content-info__name 発送日の目安
          %td.content-info__text
            -if @product.shipping_date == 0
              1-2日で発送
            -elsif @product.shipping_date == 1
              2-3日で発送
            -else
              4-7日で発送
      .option-items
        .option-items__btn
          =icon('fas', 'star')
          お気に入り 0
        .option-items__report-btn
          =link_to "#" do
            =icon('fa', 'flag')
            不適切な商品の通報
    %ul.links
      -if @product.previous.present?
        %li.prev-product
          =link_to "&lt; 前の商品".html_safe, product_path(@product.previous.id)
      -if @product.next.present?
        %li.next-product
          =link_to "後ろの商品 &gt;".html_safe, product_path(@product.next)
    .more-link
      =link_to "ベビー・キッズをもっと見る", "#"

-# フッター
=render "shared/main_footer"
-# カメラアイコン
=render "shared/exhibition_btn"